/* styles.css */

/* Reset CSS */
* {
    margin: 40;
    padding: 20;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 15;
    background-color: #f4f4f4;
}

/* Header */
.header {
    background: #333;
    color: #fff;
    padding: 20px 70;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 80px;
    height: auto;
}

.header-text {
    margin-left: 60px;
}

.header-text h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.header-text p {
    font-size: 16px;
}

/* Navbar */
.navbar {
    margin-bottom: 15px;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ddd;
}

/* Footer */
.footer {
    background: #fdfcfc;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

argin-bottom: 50px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    background-color: white;
    color: #606060;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0;
    overflow-x: hidden;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    direction: ltr;
}
html {
    font-size: 13px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

