/* styles.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header */
.header {
    background: #2e65f0;
    color: #fff;
    padding: 20px 0;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 100px;
    height: auto;
}

.header-text {
    margin-left: 20px;
}

.header-text h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.header-text p {
    font-size: 16px;
    margin: 0;
}

/* Navbar */
.navbar {

}
.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #ddd;
}

.slide-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.photo-description {
    margin-bottom: 60px;
}

.photo-description img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.photo-description h2 {
    font-size: 20px;
    margin-top: 5px;
}

.photo-description p {
    font-size: 16px;
    color: #666;
}
